# Telegram
TELEGRAM_BOT_TOKEN=8967920506:AAHn5wF4FSWZRXVCglznglSnZmmNKUY_90g
TELEGRAM_ADMIN_CHAT_ID=

# Deployment
WEBHOOK_URL=
PORT=3000
NODE_ENV=development

# Mini app / Supabase
VITE_SUPABASE_URL=https://cnkgwsmcrosxoxcrgdsq.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_hvA4BTJV7MTWxueaSv_bwQ_xHTJa7CB

# YClients
YCLIENTS_API_TOKEN=
YCLIENTS_PARTNER_TOKEN=
YCLIENTS_COMPANY_ID=
